# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
evol = pd.Series(['Ivysaur','Charmeleon','Wartotle','Metapod'],name='evolution')
hp = pd.Series([45,39,44,45],name='hp')
name = pd.Series(['Bulbasaur','Charmander','Squirtle','Caterpie'],name='name')
pokedex = pd.Series(['yes','no','yes','no'],name='pokedex')
elem_type = pd.Series(['grass','fire','water','bug'],name='type')

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon = pd.concat([evol,hp,name,pokedex,elem_type],axis=1)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Wartotle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon = pokemon[['name','type','evolution','pokedex']]
pokemon

         name   type   evolution pokedex
0   Bulbasaur  grass     Ivysaur     yes
1  Charmander   fire  Charmeleon      no
2    Squirtle  water    Wartotle     yes
3    Caterpie    bug     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['place']= pd.Series(['forest','barbeque','poo','park'],name='place')
pokemon

         name   type   evolution pokedex     place
0   Bulbasaur  grass     Ivysaur     yes    forest
1  Charmander   fire  Charmeleon      no  barbeque
2    Squirtle  water    Wartotle     yes       poo
3    Caterpie    bug     Metapod      no      park

### Step 6. Present the type of each column

In [10]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   evolution  4 non-null      object
 3   pokedex    4 non-null      object
 4   place      4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes